// colors
$omBlack: #333333;
$omRed: #c03324;
$omBlue: #498bb6;
$omWhite: #ffffff;
$omGray: #bdbdbc;
$omDarkGray: #878787;
$omLightBlue: #ccd9e9;

$omHighlight: #e5e5d0;
//$omLink        : #;
//$omLinkVisited : #;

// text
$omFont: Open Sans, Helvetica, Arial, sans-serif;

// icons
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
$iconUser: 'glyphicon glyphicon-user';
$iconInfo: 'glyphicon glyphicon-info-sign';
$iconPlus: 'glyphicon glyphicon-plus';
$iconRemove: 'glyphicon glyphicon-remove';
$iconFilter: 'glyphicon glyphicon-filter';
