/**
 * Global styles over all views
 */
@import "GlobalVariables";

#om-system-configurations {
    font-family: $omFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $omBlack;
    background-color: $omWhite;
}

//-----------------------------------
// html elements
//-----------------------------------
.container {
    display: block;
}

.om-table-small {
    width: 65% !important;
}

.om-default-button {
    background-color: $omBlue;
    color: $omWhite;
    border: none;
    padding: 0.5em 3.5em;
    font-weight: bold;
    margin: 1em;
}

.om-default-button:hover {
    background-color: $omDarkGray;
    color: $omWhite;
}

.om-cancel-button {
    background-color: $omDarkGray;
    color: $omWhite;
    border: none;
    padding: 0.5em 3.5em;
    font-weight: bold;
    margin: 1em;
}

.om-cancel-button:hover {
    background-color: $omWhite;
    color: $omBlack;
    border: 1px solid $omBlack;
}

//-----------------------------------
// html element conditions
//-----------------------------------
.om-hidden {
    display: none;
}

.om-shadow-effect {
    -webkit-box-shadow: 6px 6px 28px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 6px 6px 28px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 6px 6px 28px -6px rgba(0, 0, 0, 0.75);
}

//-----------------------------------
// Animations
//-----------------------------------
/* Enter and leave animations */
.slide-fade-enter-active {
    transition: all .3s ease;
}
.slide-fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}
