/**
 * employees grid and editor
 */
@import "main/GlobalVariables";


// employees table
#om-employees-list {
    width: 98%;
    display: inline-block;
    text-align: center;
    margin: 10px;

    thead, tbody, tr, td, th {
        display: block;
    }

    tbody {
        overflow-y: auto;
    }

    tr:hover,
    .om-selected-row {
        background-color: $omHighlight !important;
        cursor: pointer;
    }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .second-row {
        background-color: $omGray;
    }

    th {
        background-color: $omDarkGray;
        height: 2.5em;
        float: left;

        span {
            margin: 2em;
        }
    }

    td {
        height: 2em;
        float: left;
        overflow: hidden;
        white-space: nowrap;
    }

    .glyphicon.glyphicon-user.disabled {
        color: $omDarkGray;
    }
}

// employee edit
#om-employee-edit-container {
    width: 30%;
    min-width: 200px;
    display: inline-block;
    position: absolute;
    margin: 10px;
}
