/**
 * employees grid and editor
 */
@import "main/GlobalVariables";


// employees table
#om-employees-list {
    width: 98%;
    display: inline-block;
    text-align: center;
    margin: 10px;

    thead, tbody, tr, td, th {
        display: block;
    }

    tbody {
        overflow-y: scroll;
    }

    tr:hover,
    .om-selected-row {
        background-color: $omHighlight !important;
        cursor: pointer;
    }

    tr:after {
        content: ' ';
        display: block;
        visibility: hidden;
        clear: both;
    }

    .second-row {
        background-color: $omGray;
    }

    th {
        background-color: $omDarkGray;
        height: 2.5em;
        float: left;
        padding: 0.5em;
    }

    td {
        height: 2em;
        float: left;
        overflow: hidden;
        white-space: nowrap;
    }

    .glyphicon.glyphicon-user.disabled {
        color: $omDarkGray;
    }
}

// employee edit
#om-employee-edit-container {
    width: 30%;
    min-width: 200px;
    display: inline-block;
    position: absolute;
    margin: 10px;
    padding: 1em;
}

#om-edit-employee-form {
    display: block;
    padding: 1em;
    margin: 0.5em 0;

    fieldset {
        border: none;
        padding: 0;
        margin: 0.5em 0;
    }

    button {
        width: 45%;
        padding: 0.5em 0;
        margin: 1em 0.3em;
    }

    label {
        float: left;
        font-weight: bold;
    }

    input, span {
        float: right;
    }

    span.glyphicon-user {
        font-size: 1.5em;
    }

    .om-edit-employee-form-buttons {
        margin-top: 3em;
    }
}
